*
!data/
!data/README.md
!images/
!images/*
!images/s4e4/
!images/s4e4/*
!images/s4e5/
!images/s4e5/*
!images/s4e6/
!images/s4e6/*
!images/s4e7/
!images/s4e7/*
!s4e4/
!s4e4/*
!s4e4/data/
!s4e4/data/README.md
!s4e5/
!s4e5/*
!s4e5/data/
!s4e5/data/README.md
!s4e5/data/download_dataset
!s4e6/
!s4e6/*
!s4e6/data/
!s4e6/data/README.md
!s4e6/data/download_dataset
!s4e7/
!s4e7/*
!s4e7/data/
!s4e7/data/README.md
!s4e7/data/download_dataset
!*.ipynb
!*.pkl
!.gitignore
!requirements.txt
